<launch>
    <!-- if you want to check camera info for straightforward, make this true -->
    <arg name="check_camera" default="false"/>

    <!-- rosbag play node -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/mingi/catkin_ws/src/kalman_filter_mg_cs169/bags/_2020-02-01-05-50-34.bag"/>

    <!-- converter node for recovering compressed depth image to raw image-->
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=camera/depth/image_raw/
 raw out:=transformed_depth_image" />

    <!-- converter node for changing depth_image to laser_scan -->
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
      <remap from="camera_info" to="camera/depth/camera_info" />
      <remap from="image" to="transformed_depth_image" />
      <remap from="scan" to="transformed_depth_scan" />
      <param name="output_frame_id" value="transformed_depth" />
      <!--param name="scan_height" value="10" />
      <param name="range_max" value="5.0" /-->
    </node>

    <!-- check camera node for to use information at main estimator -->
    <node if="$(arg check_camera)" pkg="kalman_filter_mg_cs169" type="transformed_info_finder.py" name="tranasform_finder" output="screen" />

    <!-- Main script -->
    <node pkg="kalman_filter_mg_cs169" type="pose_estimate_camera.py" name="main_kalmanfilter" output="screen" />

    <!--TF publisher -->
    <node pkg="kalman_filter_mg_cs169" type="tf_publisher.py" name="tf_publisher" />


</launch>
